@import "tailwindcss";

@theme {
  --color-base: #EEFABD;
  --color-primary: #263B6A;
  --color-secondary: #EB5B00;
  --color-accent: #A0D585;
}

 
.dark {
 --color-base: #222831;
  --color-primary: #00ADB5;
  --color-secondary: #EB5B00;
  --color-accent: #EEEEEE;
}